In [8]:
# Importando as bibliotecas
import numpy as np
import matplotlib.pyplot as plt
import pathlib
import pandas as pd

In [9]:
# Base de dados
DATA_DIR = pathlib.Path.cwd().parent / 'data'
DATA_DIR.mkdir(parents=True, exist_ok=True)
covid_data = DATA_DIR / 'covid-19-country-statistics-dataset.xlsx'
happ_data = DATA_DIR / 'Happiness - 2019.csv'

### Análise Exploratória

Sobre a base de dados COVID:

A base de dado COVID contém algumas colunas sem identificação. Vamos deletar tais colunas

In [10]:
df_covid = pd.read_excel(covid_data)
df_covid.head()

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active cases,Serious_Critical,Total Cases Per 1m Pop,...,Total Tests,Tests Per 1m Pop,Population,Continent,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,USA,"106,613,321",1.809,"1,159,697",35.0,"104,533,271",920.353,1.392,318.434,...,"1,176,758,558","3,514,755","334,805,269",North America,3.0,289.000,0.0,5.0,0.1,2.749
1,2,India,"44,924,811",NaN,531.424,NaN,"44,335,977",57.41,NaN,31.938,...,"925,077,322",657.654,"1,406,631,776",Asia,31.0,2.647,2.0,NaN,NaN,41.000
2,3,France,"39,974,426",6.609,166.425,NaN,"39,669,392",138.609,869.000,609.510,...,"271,490,188","4,139,547","65,584,518",Europe,2.0,394.000,0.0,101.0,NaN,2.113
3,4,Germany,"38,400,766",NaN,172.882,NaN,"38,189,800",38.084,NaN,457.786,...,"122,332,384","1,458,359","83,883,596",Europe,2.0,485.000,1.0,NaN,NaN,454.000
4,5,Brazil,"37,449,418",NaN,701.494,NaN,"36,249,161",498.763,NaN,173.897,...,"63,776,166",296.146,"215,353,593",South America,6.0,307.000,3.0,NaN,NaN,2.316

In [11]:
drop_columns = ["Unnamed: 15", "Unnamed: 16",	"Unnamed: 17",	"Unnamed: 18",	"Unnamed: 19",	"Unnamed: 20"]
df_covid = df_covid.drop(drop_columns, axis=1)
df_covid.head()

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active cases,Serious_Critical,Total Cases Per 1m Pop,Deaths Per 1m Pop,Total Tests,Tests Per 1m Pop,Population,Continent
0,1,USA,"106,613,321",1.809,"1,159,697",35.0,"104,533,271",920.353,1.392,318.434,3.464,"1,176,758,558","3,514,755","334,805,269",North America
1,2,India,"44,924,811",NaN,531.424,NaN,"44,335,977",57.41,NaN,31.938,378.000,"925,077,322",657.654,"1,406,631,776",Asia
2,3,France,"39,974,426",6.609,166.425,NaN,"39,669,392",138.609,869.000,609.510,2.538,"271,490,188","4,139,547","65,584,518",Europe
3,4,Germany,"38,400,766",NaN,172.882,NaN,"38,189,800",38.084,NaN,457.786,2.061,"122,332,384","1,458,359","83,883,596",Europe
4,5,Brazil,"37,449,418",NaN,701.494,NaN,"36,249,161",498.763,NaN,173.897,3.257,"63,776,166",296.146,"215,353,593",South America

Sobre a base de dados de felicidade:

In [12]:
df_happ = pd.read_csv(happ_data)
df_happ.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [13]:
#df = df_covid.join(df_happ, how='inner')
df = pd.merge(df_covid, df_happ, on='Country')
df.head()

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active cases,Serious_Critical,Total Cases Per 1m Pop,...,Population,Continent,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2,India,"44,924,811",NaN,531.424,NaN,"44,335,977",57.41,NaN,31.938,...,"1,406,631,776",Asia,140,4.015,0.755,0.765,0.588,0.498,0.200,0.085
1,3,France,"39,974,426",6.609,166.425,NaN,"39,669,392",138.609,869.0,609.510,...,"65,584,518",Europe,24,6.592,1.324,1.472,1.045,0.436,0.111,0.183
2,4,Germany,"38,400,766",NaN,172.882,NaN,"38,189,800",38.084,NaN,457.786,...,"83,883,596",Europe,17,6.985,1.373,1.454,0.987,0.495,0.261,0.265
3,5,Brazil,"37,449,418",NaN,701.494,NaN,"36,249,161",498.763,NaN,173.897,...,"215,353,593",South America,32,6.300,1.004,1.439,0.802,0.390,0.099,0.086
4,6,Japan,"33,689,542",11.764,74.467,24.0,"21,725,273","11,889,802",48.0,268.261,...,"125,584,838",Asia,58,5.886,1.327,1.419,1.088,0.445,0.069,0.140

In [14]:
df.shape

(138, 23)

1. limpar base de dados, criar histogramas e limpar outliers
2. a cada elemento desse for https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.ShuffleSplit.html#sklearn.model_selection.ShuffleSplit

fazer um split treinamento teste e gerar o peso dos parametros. guardar tais pesos em um dicionacio (parametros:[lista de pesos]). a partir desses pesos gerar histogramas