In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pathlib
import pandas as pd

In [53]:
DATA_DIR = pathlib.Path.cwd().parent / 'data'
DATA_DIR.mkdir(parents=True, exist_ok=True)
covid_data = DATA_DIR / 'covid-19-country-statistics-dataset.xlsx'
happ_data = DATA_DIR / 'Happiness - 2019.csv'

In [57]:
df_covid = pd.read_excel(covid_data)
df_covid.head()

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active cases,Serious_Critical,Total Cases Per 1m Pop,...,Total Tests,Tests Per 1m Pop,Population,Continent,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,USA,"106,613,321",1.809,"1,159,697",35.0,"104,533,271",920.353,1.392,318.434,...,"1,176,758,558","3,514,755","334,805,269",North America,3.0,289.000,0.0,5.0,0.1,2.749
1,2,India,"44,924,811",NaN,531.424,NaN,"44,335,977",57.41,NaN,31.938,...,"925,077,322",657.654,"1,406,631,776",Asia,31.0,2.647,2.0,NaN,NaN,41.000
2,3,France,"39,974,426",6.609,166.425,NaN,"39,669,392",138.609,869.000,609.510,...,"271,490,188","4,139,547","65,584,518",Europe,2.0,394.000,0.0,101.0,NaN,2.113
3,4,Germany,"38,400,766",NaN,172.882,NaN,"38,189,800",38.084,NaN,457.786,...,"122,332,384","1,458,359","83,883,596",Europe,2.0,485.000,1.0,NaN,NaN,454.000
4,5,Brazil,"37,449,418",NaN,701.494,NaN,"36,249,161",498.763,NaN,173.897,...,"63,776,166",296.146,"215,353,593",South America,6.0,307.000,3.0,NaN,NaN,2.316

In [48]:
df = pd.read_excel(raw_data_file_path)
df.head()

,Number,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active cases,Serious_Critical,Total Cases Per 1m Pop,...,Total Tests,Tests Per 1m Pop,Population,Continent,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,USA,"106,613,321",1.809,"1,159,697",35.0,"104,533,271",920.353,1.392,318.434,...,"1,176,758,558","3,514,755","334,805,269",North America,3.0,289.000,0.0,5.0,0.1,2.749
1,2,India,"44,924,811",NaN,531.424,NaN,"44,335,977",57.41,NaN,31.938,...,"925,077,322",657.654,"1,406,631,776",Asia,31.0,2.647,2.0,NaN,NaN,41.000
2,3,France,"39,974,426",6.609,166.425,NaN,"39,669,392",138.609,869.000,609.510,...,"271,490,188","4,139,547","65,584,518",Europe,2.0,394.000,0.0,101.0,NaN,2.113
3,4,Germany,"38,400,766",NaN,172.882,NaN,"38,189,800",38.084,NaN,457.786,...,"122,332,384","1,458,359","83,883,596",Europe,2.0,485.000,1.0,NaN,NaN,454.000
4,5,Brazil,"37,449,418",NaN,701.494,NaN,"36,249,161",498.763,NaN,173.897,...,"63,776,166",296.146,"215,353,593",South America,6.0,307.000,3.0,NaN,NaN,2.316

In [41]:
raw_data_file_path = DATA_DIR / 'covid-19-country-statistics-dataset.csv'
df = pd.read_csv(raw_data_file_path)

# prints all sheets
print(df)

                                                Number  Country  Total Cases  \
0    1,USA,"106,613,321","+1,809","1,159,697",+35,"...      NaN          NaN
1    2,India,"44,924,811",,"531,424",,"44,335,977",...      NaN          NaN
2    3,France,"39,974,426","+6,609","166,425",,"39,...      NaN          NaN
3    4,Germany,"38,400,766",,"172,882",,"38,189,800...      NaN          NaN
4    5,Brazil,"37,449,418",,"701,494",,"36,249,161"...      NaN          NaN
..                                                 ...      ...          ...
212  221,Tuvalu,"2,805",,,,,"2,805",,"232,471",,,,"...      NaN          NaN
213  222,Saint Helena,"2,166",,,,2,"2,164",,"354,21...      NaN          NaN
214  224,Montserrat,"1,403",,8,,"1,376",19,,"282,57...      NaN          NaN
215  230,Tokelau,5,,,,,5,,"3,628",,,,"1,378",Austra...      NaN          NaN
216  231,China,"503,302",,"5,272",,"379,053","118,9...      NaN          NaN

     New Cases  Total Deaths  New Deaths  Total Recovered  Active cases  \
0          NaN           NaN         NaN              NaN           NaN
1          NaN           NaN         NaN              NaN           NaN
2          NaN           NaN         NaN              NaN           NaN
3          NaN           NaN         NaN              NaN           NaN
4          NaN           NaN         NaN              NaN           NaN
..         ...           ...         ...              ...           ...
212        NaN           NaN         NaN              NaN           NaN
213        NaN           NaN         NaN              NaN           NaN
214        NaN           NaN         NaN              NaN           NaN
215        NaN           NaN         NaN              NaN           NaN
216        NaN           NaN         NaN              NaN           NaN

     Serious_Critical  Total Cases Per 1m Pop  Deaths Per 1m Pop  Total Tests  \
0                 NaN                     NaN                NaN          NaN
1                 NaN                     NaN                NaN          NaN
2                 NaN                     NaN                NaN          NaN
3                 NaN                     NaN                NaN          NaN
4                 NaN                     NaN                NaN          NaN
..                ...                     ...                ...          ...
212               NaN                     NaN                NaN          NaN
213               NaN                     NaN                NaN          NaN
214               NaN                     NaN                NaN          NaN
215               NaN                     NaN                NaN          NaN
216               NaN                     NaN                NaN          NaN

     Tests Per 1m Pop  Population   Continent
0                 NaN         NaN         NaN
1                 NaN         NaN         NaN
2                 NaN         NaN         NaN
3                 NaN         NaN         NaN
4                 NaN         NaN         NaN
..                ...         ...         ...
212               NaN         NaN         NaN
213               NaN         NaN         NaN
214               NaN         NaN         NaN
215               NaN         NaN         NaN
216               NaN         NaN         NaN

[217 rows x 15 columns]

In [36]:
pd.read_excel(r"D:\INSPER\Oitavo Semestre\Machine Learning\MachineLearning-CovidAnalysis\covid-19-country-statistics-dataset_teste.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\INSPER\\Oitavo Semestre\\Machine Learning\\MachineLearning-CovidAnalysis\\covid-19-country-statistics-dataset_teste.xlsx'